body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#menu {
    background-color: red;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu h1 {
    color: white;
    font-size: 5rem;
    margin: 7vh;
}

#menu h2 {
    color: white;
    font-size: 3rem;
    margin: 1.2vh;
}

#menu ul {
    color: white;
    font-size: 2.5rem;
    list-style: none;
    justify-content: left;
}

#menu ul li {
    text-align: left;
    margin-left: -6vh;
}



#to-do {
    background-color: rebeccapurple;
    grid-column: 2/3;
}
